<h2>Registro de un Rol</h2>

<%= form_with(model: @rol) do |formulario| %>
    
    <!-- <label id="nombre" >Nombre</label> -->
    <%= formulario.label :rol %>
    <!-- <input type="text" id="rol" name="rol"> -->
    <%= formulario.text_field :rol %>
    <% if @rol.errors[:rol].any? %>
        <div>
            <%= @rol.errors[:rol].first %>
        </div>
    <% end %>

    <%= link_to "Volver", roles_path  %> <!-- link_to -->

    <!-- <input type="submit" value="Registrar"> -->
    <%= formulario.submit 'Registrar' %>
<% end %>